<div class="container">

<h1>Attitude Bar</h1>
<% @cocktails.each do |cocktail|%>
<p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
<% end %>

<%= link_to "Create your 'Attitude'", new_cocktail_path, class: "btn border" %>

<%= cl_image_tag("uarrchgptofkyobbmjiy", width: 400, height: 300, crop: :fill) %>

</div>
