<div class="container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.giphy.com/media/wcgcRnkePIUPS/source.gif);">
    <div class="container">
      <h1><strong>Attitute</strong> bar</h1>
      <p>Change your life and drink more at one of our bars around the world.</p>
      <a class="btn btn-primary btn-lg" href="#">Find your attitute</a>
    </div>
  </div>

<% @cocktails.each do |cocktail|%>
  <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://bluemoonandmistymornings.tumblr.com/image/90519773789)">
    <p class="cocktail-list"><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
    <% end %>

    <%= link_to "Create your 'Attitude'", new_cocktail_path, class: "btn border" %>
  </div>
  </div>

</div>
